.prose {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    table {
        display: block;
        border: var(--offblack) solid ;
        margin: 1.5rem auto;
        max-width: 100%;
        overflow: scroll;
       tbody {
           max-height: 300px;
           overflow-y: scroll;
           width: 100%;
       }
        thead {
            border-bottom: var(--offblack) solid ;
            background-color: var(--darkerbeige);
            min-width: max-content;
        }
        th, td {
            padding: .5rem;
        }

    }
    pre {
        width: 60%;
        margin: auto;
        padding: 1.5rem;
        background-color: var(--ourbeige);
        border: var(--offblack) solid 1px;
        overflow: auto;
        max-width: 100%;
        display: block;
    }
    p {
        margin-bottom: 1rem;
    }
    .fake-h2, .fake-h3{
        margin: 4rem auto !important;
    }
    h4 {
        margin: 3rem auto !important;
    }
    img {
        max-height: 300px;
        max-width: fit-content;
        align-self: center;
    }
    blockquote {
        background-color: var(--lightblue-drei);
        padding: 1rem;
    }
    ul {
        list-style: square;
    }
}

aside {
    a {
        color: #0f0f0f !important;
    }
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    scroll-margin-top: 150px; /* Dein gewünschter Offset */
}